<!-- ###POLL_HEADER### -->  
<div>
<h1>###TITLE###</h1>
</div>
<div style="float:left; padding-right:10px;"> 
###QUESTION_IMAGE###
</div>
<div> 
###QUESTIONTEXT###
</div>
<!-- ###POLL_HEADER### -->  
  

<!-- ###POLL_VOTE### -->
<div>
<p>
<br />
<!-- ###ANSWER_VOTE### -->	
###ANSWERTEXT_FORM### ###ANSWERTEXT_VALUE###<br />
<!-- ###ANSWER_VOTE### -->
<br />
###CAPTCHA_IMAGE###<br />
###CAPTCHA_INPUT###<br /><br />
###LINKLIST###<br /><br />
###SUBMIT###
</p>
</div>
<!-- ###POLL_VOTE### -->


<!-- ###POLL_ANSWER_VERTICAL### -->
<div>
<p>
<br />
###VOTES_LABEL###:&nbsp;###VOTES###<br /></p>
</div>
<!-- ###ANSWER_RESULT### -->
<div style="float:left; padding-right:10px;">###IMG_PERCENTAGE_RESULT###<br />###PERCENTAGE_RESULT###<br />###ANSWERTEXT_RESULT###<br />###AMOUNT_VOTES### Stimme(n)</div>
<!-- ###ANSWER_RESULT### -->
<div style="clear:both; padding-bottom:20px;"></div>
<!-- ###POLL_ANSWER_VERTICAL### -->


<!-- ###POLL_ANSWER_HORIZONTAL### -->
<div>
<p>
<br />
###VOTES_LABEL###:&nbsp;###VOTES###<br /></p>
<!-- ###ANSWER_RESULT### -->
<p>###IMG_PERCENTAGE_RESULT###<br />###PERCENTAGE_RESULT###&nbsp;&nbsp;###ANSWERTEXT_RESULT###&nbsp;&nbsp;###AMOUNT_VOTES### Stimme(n)</p>
<!-- ###ANSWER_RESULT### -->
</div>
<!-- ###POLL_ANSWER_HORIZONTAL### -->


<!-- ###POLL_LIST### -->  
<!-- ###POLL_LINK### -->
<p>###LINK###</p>
<!-- ###POLL_LINK### -->
<!-- ###POLL_LIST### --> 