<!-- ###POLL_HEADER### -->  
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="3"><h1>###TITLE###</h1></td>
  </tr>
  <tr><td colspan="3">&nbsp;</td></tr>
  <tr>
    <td valign="top">###QUESTION_IMAGE###</td><td width="10">&nbsp;</td><td valign="top">###QUESTIONTEXT###</td>
  </tr>
<!-- ###POLL_HEADER### -->  
  

<!-- ###POLL_VOTE### --> 
  <tr><td colspan="3">&nbsp;</td></tr>
  <!-- ###ANSWER_VOTE### -->	
  <tr>
    <td colspan="2">&nbsp;</td><td>###ANSWERTEXT###</td>
  </tr>
  <!-- ###ANSWER_VOTE### -->
  <tr>
    <td colspan="2">&nbsp;</td><td>###CAPTCHA_IMAGE###</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td><td>###CAPTCHA_INPUT###</td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td><td>###SUBMIT###</td>
  </tr>
</table>
<!-- ###POLL_VOTE### -->


<!-- ###POLL_ANSWER_VERTICAL### -->
  <tr><td colspan="3" height="25">&nbsp;</td></tr>
  <tr><td colspan="2">&nbsp;</td><td>Votes:&nbsp;###VOTES###</td><td>
  <tr><td colspan="3">&nbsp;</td></tr>
  <tr><td colspan="2">&nbsp;</td><td>
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
  <!-- ###ANSWER_RESULT### -->
        <td valign="bottom" width="80" height="120">###IMG_PERCENTAGE_RESULT###<br><br>###PERCENTAGE_RESULT###<br>###ANSWERTEXT_RESULT###<br>###AMOUNT_VOTES### Stimme(n)</td>
  <!-- ###ANSWER_RESULT### -->
      </tr>
    </table>
    </td>
  </tr>
</table>
<!-- ###POLL_ANSWER_VERTICAL### -->


<!-- ###POLL_ANSWER_HORIZONTAL### -->
  <tr><td colspan="3" height="25">&nbsp;</td></tr>
  <tr><td colspan="2">&nbsp;</td><td>Votes:&nbsp;###VOTES###</td><td>
  <tr><td colspan="3">&nbsp;</td></tr>
  <tr><td colspan="2">&nbsp;</td><td>
    <table border="0" cellpadding="0" cellspacing="0">
  <!-- ###ANSWER_RESULT### -->
      <tr>
        <td width="100" height="20" valign="middle">###IMG_PERCENTAGE_RESULT###</td>
      </tr>
      <tr>
        <td>###ANSWERTEXT_RESULT###&nbsp;###PERCENTAGE_RESULT###&nbsp;###AMOUNT_VOTES### Stimme(n)</td>
      </tr>
  <!-- ###ANSWER_RESULT### -->
    </table>
    </td>
  </tr>
</table>
<!-- ###POLL_ANSWER_HORIZONTAL### -->


<!-- ###POLL_LIST### -->  
<table border="0" cellspacing="0" cellpadding="0">
  <!-- ###POLL_LINK### -->
  <tr>
    <td>###LINK###</td>
  </tr>
  <!-- ###POLL_LINK### -->
</table>
<!-- ###POLL_LIST### --> 